{% extends "home_space/base.html" %}
{% load bootstrap4 %}
{% block content %}
{% if homes %}
	{% for home in homes %}
		<h2>{{ home }} <i class="glyphicon glyphicon-home"></i></h2>
		<div class='rooms'>
		{% for room in home.room_set.all %}
			{% include 'home_space/room_tile.html' %}
		{% empty %}
			<p>There is nothing here.</p>
			<hr>
		{% endfor %}
		</div>
		<div>
			<form action="{% url 'new_room' home.id %}" method='post'>
				{% csrf_token %}
				{% bootstrap_form room_form %}
				<button name="submit">Add Room</button>
			</form>
		</div>
	{% endfor %}
{% else %}
	<h3>There is no home setup yet. Add one here</a></h3>
	<div>
		<form action="{% url 'new_home' %}" method='post'>
			{% csrf_token %}
			{% bootstrap_form home_form %}
			<button name="submit">Add Home</button>
		</form>
	</div>
{% endif %}
{% endblock %}