{% extends 'home_space/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div>
    <div class='d-inline'>
        <h2 class='d-inline'>Garage Sales</h2>
        {% if request.user.is_authenticated and request.user == sale.owner %}
        <div>
            <a href="{% url 'new_garage_sale' %}" class='btn btn-dark float-right d-inline'>New Garage Sale</a>
        </div>
        <br>
        <hr>
        {% endif %}
    </div>
    {% for sale in sales %}
    <div class='card my-2'>
        <div class='card-header'>
            <h4><a href="{% url 'garage_sale' sale.id %}">{{ sale }}</a></h4>
        </div>
        <div class='card-body'>
            <p>Items: {{ sale.forsale_set.all.count }}</p>
        </div>
    </div>
    {% empty %}
        <p>Nothing Here</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
