{% extends 'home_space/base.html' %}
{% load bootstrap4 %}
{% block meta %}
<meta property="og:title" context="{{sale.name}}">
<meta property="og:image" content="{{image}}">
{% endblock %}
{% block title %}{{sale}}{% endblock %}
{% block content %}
<div class="mb-3">
    <h2>{{ sale }}</h2>
    {% if request.user.is_authenticated and request.user == sale.home.owner or ismember %}
        <a href="{% url 'edit_sale' sale.id %}" class="btn btn-dark">Edit Sale</a>
        <div class='btn btn-dark dropdown-toggle float-right ml-2' id='add_item' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-plus-sign"></i> Item</div>
        <div class='dropdown-menu dropdown-menu-right p-2' id='add_item'>
            <input id="item_search" type="text" name="item_search">
            <ul id="item_results" class="list-group">
                {% include 'home_space/item_search_inject.html' %}
            </ul>
        </div>
    {% endif %}
    <div id="item_list" class="d-block d-sm-flex row mt-3">
    {% for item in sale.forsale_set.all %}
        <div class='col-12 col-sm-6 col-md-3 mt-3'>
            <div class='card rounded'>
                {% if item.item.itemimage_set.all %}
                <div class='card-body p-0'>
                    <a href="{% url 'item' item.item.id %}"">
                        <img src="{{item.item.itemimage_set.first.image.url}}" width="100%" height="auto"></<img>
                    </a>
                </div>
                {% endif %}
                <div class='card-header {% if item.item.image_set.all %}border-top{% endif %} border-bottom-0'>
                    <a class="text-dark" href="{% url 'item' item.item.id %}">{{ item.item }}</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Nothing Here</p>
    {% endfor %}
    </div>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'home_space/item_search.js' %}"></script>
<script>
        $("#item_results").on('click', "a#add_item", function (e) {
			e.preventDefault();
			$.ajax({
				type: 'GET',
				url: $(this).attr("href"),
				success: function (response) {
					var instance = JSON.parse(response["item"]);
                    var url = response["url"];
                    $('#item_results').empty();
					$('#item_list').prepend(`
                    <div class='col-3 mt-3'>
                        <div class='card'>
                            <div class='card-body'>
                                <a href="${url}">${instance[0]["fields"]["name"]}</a>
                            </div>
                        </div>
                    </div>
                    `);
				},

				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
		})
</script>
{% endblock %}