{% extends 'home_space/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div>
    <h2>{{ sale }}</h2>
    {% if request.user.is_authenticated and request.user == sale.owner %}
        <a href="{% url 'edit_sale' sale.id %}" class="btn btn-dark">Edit Sale</a>
        <div class='btn btn-dark dropdown-toggle float-right ml-2' id='add_item' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-plus-sign"></i> Item</div>
        <div class='dropdown-menu dropdown-menu-right p-2' id='add_item'>
            <input id="item_search" type="text" name="item_search">
            <ul id="item_results" class="list-group">
                {% include 'home_space/item_search_inject.html' %}
            </ul>
        </div>
    {% endif %}
    <div id="item_list">
    {% for item in sale.item_set.all %}
        <div class='card'>
            <div class='card-body'>
                <p>{{ item }}</p>
            </div>
        </div>
    {% empty %}
        <p>Nothing Here</p>
    {% endfor %}
    </div>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'home_space/item_search.js' %}"></script>
<script>
	$("#item_form").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'add_item' sale.id %}",
            data: serializedData,
            success: function (response) {
                $("#item_form").trigger('reset');
                $("#item_form").focus();
                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];
                var pk = instance[0]["pk"];
                alert(response["responseJSON"]["success"]);
            },

            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    });
</script>
{% endblock %}