<div class='card col-4 px-0 mx-1'>
	<div class='card-header'>
		<h4><a href="{% url 'inventory' inv.id %}">{{ inv.name }}</a></h4>
	</div>
	<div id='{{ inv.id }}' class='card-body'>
		<div class='list-group list-group-flush mb-0'>
			<div class='list-group-item'>Items: {{ room.inventory_set.first.item_set.all.count }}</div>
			{% if room.inventory_set.first.holds_food %}
				<div class='list-group-item'>Food: {{ room.inventory_set.first.food_set.all.count }}</div>
			{% endif %}
		</div>
	</div>
</div>