{% extends 'home_space/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div>
	<h2>{% if space.super_space %} {{space.super_space}} <i class="glyphicon glyphicon-arrow-right"></i> {% endif %}{{ space }}</h2> 
	<p>Type: {{space.get_kind_display|title }}</p>
	<hr>
	<div>
		{% if space.get_kind_display == 'inventory' %}
		<a href="{% url 'new_food' space.id %}">Add Food</a>
		{% endif %}
		<a href="{% url 'edit_space' space.id %}">Edit Space</a>
		<a href="{% url 'new_space' space.id %}">Add Space</a>
		<a href="{% url 'new_item' space.id %}">Add Item</a>
	</div>
</div>
{% if items %}
<hr>
<div>
	<h4>Items</h4>
	<hr>
	{% for item in items %}
	<div><a href="{% url 'edit_item' item.id %}">{{item}}</div>
	{% empty %}
	<p>Looks like there's nothing here.</p>
	{% endfor %}
</div>
{% endif %}
{% if spaces %}
<hr>
<div>
	<h4>Spaces</h4>
	{% for s in spaces %}
	<hr>
	<a href="{% url 'space' s.id %}">{{s}}</a>
	{% empty %}
	{% endfor %}
</div>
{% endif %}
{% endblock %}